.lavora-con-noi {
    background-color: #2FA7CF;

    .background-img {
        background: url('https://c1.wallpaperflare.com/preview/522/897/98/business-paper-office-finance.jpg');
        height: 600px;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;

        span {
            color: #58D5FF;
            font-weight: bold;
            font-size: 40px;
        }
    }

    .cv-container {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 60px;

        .jobCont{
            background-color: #2FA7CF;

      
            .jobImg{
                width: 400px;
            }
        }
    }

    @media only screen and (max-width: 1300px) {

        .background-img {

            span {
                font-size: 35px;
            }
        }

        .cv-container {
            flex-direction: column;
            padding: 30px;
            .jobCont{
                margin-top: 60px;
                
                .jobImg{
                    width: 600px;
                }
            }

      
        }
    }

    @media only screen and (max-width: 800px) {

        .background-img {

            span {
                font-size: 35px;
            }
        }

        .cv-container {
            flex-direction: column;
            padding: 30px;
            .jobCont{
                margin-top: 60px;
               
                .jobImg{
                    width: 420px;
                }
            }
      
        }
    }

    @media only screen and (max-width: 450px) {

        .background-img {

            span {
                font-size: 35px;
            }
        }

        .cv-container {
            flex-direction: column;
            padding: 30px;
            .jobCont{
                margin-top: 60px;
               
                .jobImg{
                    width: 300px;
                }
            }
      
        }
    }


}