.chi-siamo-page {
    background: linear-gradient(-45deg, #2128ab, #30bada, #00f3ae);
    background-size: 400% 400%;
    animation: gradient 3s ease infinite;
    padding-top: 100px;

    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }

    .titolo {
        position: relative;
        display: inline-block;
        font-size: 40px;
        font-weight: bolder;
        color: #fff;
        padding: 10px;
        background-color: #2FA7CF;
        margin: 80px 0;
    }    

    .citazione-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 500px;
        height: auto;
        width: 50%;
        background-color: #D2EFF6;
        border-radius: 25px;
        margin: 0 auto;
        padding: 30px;

        .virgolette {
            font-size: 60px;

            &.end {
                margin-left: auto;
            }
        }

        .citazione {
            text-align: center;
            font-size: 30px;
            margin-bottom: 20px;

            &.ultima {
                margin-bottom: 0;
            }
        }
    }

    .tizio-container {
        width: 85%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        padding: 50px 0;
        
        .foto {
            display: flex;
            flex-direction: column;

            img {
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
                width: 230px;
                height: 230px;
            }

            span {
                display: inline-block;
                font-size: 30px;
                text-align: center;
                background-color: cyan;
                color: #fff;
                border-radius: 0 0 22px 20px;
            }
        }

        .presentazione {
            width: 100%;
            height: 220px;
            background-color: darkcyan;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: relative;

            span {
                color: #fff;
            }

            .virgolette {
                font-size: 50px;
                position: absolute;
                top: 0;
                left: 1%;

                &.end {
                    margin-left: auto;
                    top: 77%;
                    left: 97%;

                    @media only screen and (max-width: 1430px) {
                        left: 95%;
                    }     
                    
                    @media only screen and (max-width: 1430px) {
                        left: 93%;
                    }                     
                }               
            }

            .testo {
                margin: 0 auto;
                text-align: center;
                font-weight: bolder;
                font-size: 15px;
                padding: 40px;
            }         
        }
    }

    @media only screen and (max-width: 730px) {
        padding-top: 0;

        .titolo {
            font-size: 30px;
            margin: 40px 0;
        }

        .citazione-container {
            min-height: 0;

            .virgolette {
                font-size: 20px;
            }

            .citazione {
                font-size: 12px;
                margin-bottom: 10px;
            }
        }

        .tizio-container {
            width: auto;
            padding: 20px 10px;

            .foto {

                img {
                    width: 70px;
                    height: 70px;
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;                    
                }

                span {
                    font-size: 10px;
                    border-radius: 0 0 7px 7px;
                }                
            }

            .presentazione {
                height: 70px;
                justify-content: center;
                position: relative;

                .virgolette {
                    font-size: 20px;
                    position: absolute;
                    top: 0;
                    left: 0;

                    &.end {
                        top: 45px;
                        left: 96%;
                    }
                }

                .testo {
                    font-size: 10px;
                }                
            }
        }
    }
}