.container-servizi {
    margin: 50px;
    margin-top: 150px;
    display: flex;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    justify-items: center;
    gap: 50px;

    .sezione {
        width: 100%;
        height: 300px;    
        position: relative;  

        &:hover {
            cursor: pointer;

            .immagine {
                filter: none;
            }

            .riga-blu {
                box-shadow: inset 1000px 0 0 0 #2FA7CF;
                transition: 0.9s ease-in-out;

                span {
                    color: white;
                }
            }
        }
        
        .immagine {
            width: 100%;
            height: 100%;
            display: inline-block;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;    
            background-position: 50%;  
            filter: grayscale(100%);
            transition: 0.2s ease-in-out;
        }

        .riga-blu {
            width: 100%;
            display: flex;
            justify-content: center;
            position: absolute;
            top: 40%;
            box-shadow: inset 0 0 0 0 #54b3d6;

            span {
                font-size: 30px;
                font-weight: bold;
                transition: 0.2s ease-in-out;
                color: #20C7FF;
            } 
        } 
    }  
}