$colore-tosto: rgb(60, 207, 236);

.button-wrapper {
    position: fixed;
    bottom: 0;
    width: 100%; 

    .flex-container {
        display: flex;

        .hover-wrapper {
            display: flex;
            flex-direction: column;
            margin-left: auto;  
            margin-right: 100px;   
            transition: all .2s linear;   
            
            
            &:hover {
                transform: scale(1.1);
            }              

            .button-contattaci {     
                text-decoration: underline;
                font-size: 40px;
                width: 320px;
                height: 80px;
                background-color:$colore-tosto;
                border: none;
                color: white;
                z-index: 1000;
                cursor: pointer;               
            }    
    
            .icona-wrapper {
                position: relative;
                margin-left: auto;    
                cursor: pointer;     
    
                .icona-messaggio {
                    width: 52px;
                    position: absolute;
                    top: -20px;
                    right: -18px;
                    background-color: $colore-tosto;
                    border-radius: 50%;
                    padding: 10px;
                    padding-top: 15px;
                    z-index: 9999;
                    img {
                        width: 100%;
                        height: auto;
                    }
                }             
            } 
        }          
    }  

    @media only screen and (max-width: 730px) {
        .flex-container {
            -webkit-backface-visibility: hidden;

            .hover-wrapper {
                margin-right: auto;
                margin-left: auto;
                flex-direction: row;
                justify-content: flex-end;
                width: 100%;
           
                &:hover {
                    transform: none;
                }

                .button-contattaci {
                    display: none;
                }

                .icona-wrapper {
                    margin: 20px;
                    transition: all .2s linear; 

                    .icona-messaggio {
                        position: relative;
                        width: 40px;
                        top: 0;
                        right: 0;
                    }

                    &:hover {
                        transform: scale(1.2);
                    }                     
                }
            }
        }
    }    
}
   
.serviziocontainer {
    position: fixed;
    bottom: -30px;
    left: 70%;
    background-color: white;
    z-index: 9999;
    box-shadow: 0 10px 25px #bbbbbbbb;
    animation-duration: 2s;   
    animation: bounceInUp; // referring directly to the animation's @keyframe declaration */
    animation-duration: 0.8s; /* don't forget to set a duration! */
     @media only screen and (max-width: 1200px) {
        left: 67%;
    }
    @media only screen and (max-width: 1100px) {
        left: 63%;
    }
    @media only screen and (max-width: 1000px) {
        left: 60%;
    }
    @media only screen and (max-width: 900px) {
        left: 55%;
    }
    @media only screen and (max-width: 800px) {
        left: 50%;
    } 
}