.spinner-container {
    height: 85vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .spinner {
        display: inline-block;
        width: 100px;
        height: 100px;
        border: 12px solid #63D8FF;
        border-radius: 50%;
        border-top-color: #33ADD5;
        animation: spin 1s ease-in-out infinite;
        -webkit-animation: spin 1s ease-in-out infinite;
        @keyframes spin {
          to {
            -webkit-transform: rotate(360deg);
          }
        }
        @-webkit-keyframes spin {
          to {
            -webkit-transform: rotate(360deg);
          }
        }
    }
}