$colore-tosto: #2FA7CF;
$colore-sfondo: #2596be;
$background: rgba($color: $colore-sfondo, $alpha: 0.2);

.navbar-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: $background;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 90px;

    .logo {
        padding-top: 10px;

        .logoImg {
            width: 140px;
            height: auto;
            cursor: pointer;
        }
    }
    
    .elemento {
        font-family: sans-serif;
        color: #ffff;
        font-size: 25px;
        font-weight: 600;

         &:hover {
            cursor: pointer;
            color: $colore-tosto;
        }

        &.selezionato {
            color: $colore-tosto;
        }
    }   

    .search {
        width: 50px;
        height: auto;

        &:hover {
            cursor: pointer;
        }
    }

    .menu-ico {
        display: none;
        position: absolute;
        width: 50px;
        height: auto;

        &:hover {
            cursor: pointer;
        }
    }

    @media only screen and (max-width: 1200px) {
        background-color: transparent;
        justify-content: flex-end;

        .elemento, .logo {
            display: none;
        }

        .menu-ico {
            background-color: $background;
            display: block;
            padding: 30px;
        }
    }

    &.vertical {
        flex-direction: column;
        background-color: $background;
        width: 600px;
        right: 0;

        .menu-ico {
            display: none;
        }

        .elemento {
            display: block;
        }
    }
}