$colore-tosto: #2FA7CF;
$colore-sfondo: #2596be;
$background: rgba($color: $colore-sfondo, $alpha: 0.2);

.navbar-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: $background;
    width: 100%;
    height: 90px;
    transition: transform .3s ease-in-out,-webkit-transform .3s ease-in-out;

    .elemento {
        color: #ffff;
        font-size: 25px;
        font-weight: 600;
    
         &:hover {
            cursor: pointer;
            color: $colore-tosto;
        }
    
        &.selezionato {
            color: $colore-tosto;
        }
    }     

    .logo {
        padding-top: 10px;

        .logoImg {
            width: 140px;
            height: auto;
            cursor: pointer;
        }
    }  

    .search {
        width: 50px;
        height: auto;

        &:hover {
            cursor: pointer;
        }
    }

    @media only screen and (max-width: 1200px) {
        display: none;
    }
}

.navbar-laterale {
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    width: 400px;
    background-color: #1D0175;
    height: 100%;

    .menu-ico {
        margin-left: 73%;
        background-color: $background;
        padding: 30px;
        width: 50px;
        height: auto;

        &:hover {
            cursor: pointer;
        }   
        
        &.ico-nascosta {
            display: none;
        }
    }  
    
    .container-laterale {
        display: flex;
        flex-direction: column;

        .x-wrapper {
            height: 60px;
            border-bottom: 1px solid $colore-tosto;

            .logoImg {
                width: 100px;
                height: auto;
                margin: 10px;
            }

            .x {
                position: relative;
                height: 30px; /* qualsiasi valore */
                width: 30px;  /* IMPORTANTE mantenere il rapport con l'altezza di 1:1 */
                display: flex;
                margin-left: 85%;
                flex-direction: column;
                justify-content: center;
                margin-top: -60px;
        
                &::before,
                &::after {
                    position: absolute;
                    top: 15px;
                    content: '';
                    width: 30px;
                    height: 3px; /* spessore */
                    background-color: white;
                }
                
                &::before {
                    transform: rotate(45deg);
                }
                
                &::after {
                    transform: rotate(-45deg);
                }    
                
                &:hover {
                    cursor: pointer;
                }
            } 
        }

        .esplora {
            padding-top: 10px;
            display: flex;
            flex-direction: column;

            .s1 {
                color: #fff;
                font-weight: 800;
                margin-bottom: 10px;   
                font-size: 24px;             
            }

            .elemento-container {
                width: max-content;

                .elemento {
                    color: #ffff;
                    font-weight: bolder;
                    margin: 10px;
                    font-size: 20px;
                    display: inline-block;
                    
                
                     &:hover {
                        cursor: pointer;
                        color: $colore-tosto;
                    }
                
                    &.selezionato {
                        border-left: 2px solid #fff;
                        padding-left: 5px;
                    }
                }                 
            }
            
            .s1, .elemento-container {
                margin-left: 20px;
            }            
        }
    }         

    &.nascosta {
        background-color: transparent;   

        .container-laterale {
            display: none;
        }         
    }     

    @media only screen and (min-width: 1200px) {
        display: none;
    }    
}