.pagina-dei-servizi {
    padding-top: 100px;

    .servizio {
        display: flex;
        position: relative;
        margin-bottom: 100px;

        .sticky-div {
            position: relative;
            width: 40%;
            display: block;
            padding-right: 20px;

            .componente-fisso {
                position: -webkit-sticky;
                position: sticky;
                top: 40px;
                display: flex;
                flex-direction: column;
                width: auto;
        
                .titolo {
                    font-size: 20px;
                    color: #2596be;
                    font-size: 30px;
                    margin: 60px 0 0 40px;
                }
            
                .testo-con-barra {
                    margin: 30px 0 0 60px;
                    width: auto;
        
                    span {
                        font-size: 40px;
                        font-weight: bolder;        
                    }
        
                    .barra {
                        height: 20px;
                        width: 97%;
                        border-radius: 0 25px 25px 0;
                    }
                } 
        
                .icone {
                    display: flex;
                    margin-left: 20px;
        
                    img {
                        width: 70px;
                        height: auto;
                        margin: 20px 50px;
                    }
                }
        
                .desc, a {
                    margin-left: 60px;
                    font-size: 21px;
                }
        
                a {
                    color: #2596be;
                    margin: 10px 0 0 60px;
                }
            }
        }  
        
        .wrapper {
            display: flex;
            flex-direction: column;
            width: 55%;

            .componente-laterale {
                display: flex;
                margin-top: 70px;
                height: 600px;
                background: linear-gradient(rgba(#2596be, 0.3), transparent);
        
                .annuncio {
                    width: 55%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
        
                    .titolo {
                        font-size: 40px;
                        font-weight: bolder;
                        margin: 20px;
                    }
        
                    .desc {
                        font-size: 25px;
                        margin: 0 30px;
                    }
        
                    .icona-con-testo {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-top: 20px;
        
                        img {
                            width: 80px;
                            height: auto;
                            margin-right: 10px;
                        }

                        &.stella {

                            img {
                                width: 70px;
                                margin-right: 20px;
                            }
                        }                        
        
                        span {
                            font-size: 25px;
                            max-width: 250px;
                        }
                    }

                    .bottone-offerta {
                        width: 400px;
                        height: 100px;
                        margin: 40px;
                        border-radius: 10px;
                        box-shadow: none;
                        background-color: #4BB3DB;
                        outline: none;
                        border: none;

                        &:hover {
                            cursor: pointer;
                        }

                        a {
                            font-size: 30px;
                            color: white;
                            font-weight: bold;
                        }
                    }
                }
        
                .immagine-annuncio {
                    width: 45%;
                    height: auto;
                    background: linear-gradient(rgba(#2596be, 0.3), transparent), url('https://images2.corriereobjects.it/methode_image/2020/05/19/Economia/Foto%20Economia%20-%20Trattate/Silver_Provider%20energia-kdtH-RNm6Aoy0RFYQCnASBbzEPrN-656x492@Corriere-Web-Sezioni.jpg?v=20200713121450');
                }
            }             
        }       
    }
}